<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--Email Config-->
    <add key="EmailFrom" value=""/>
    <add key="EmailPassword" value=""/>

    <!--System Config START-->
    <!-- Timer Settings: 30000: 30s | 60000: 1m | 90000: 1.5m | 120000: 2m-->
    <add key="Timer" value="60000"/>
    <add key="SystemMailTimeInHours" value="3"/>
    <add key="SystemEmailTo" value=""/>
    <add key="isLogging" value="1"/>
    <add key="LogPath" value="C:\Services"/>
    <!--System Config END-->

    <!--108: Chandigarh | 496: Mohali | 203: Karnal | 622: Agra | 199: Faridabad | 198: Sonipat | 581: Hyderabad | 395: Mumbai | 363: Pune-->
    <add key="DistrictID" value="581,203,198"/>
    <add key="DateFor108" value="0"/>

    <!--Email Sent To-->
    <add key="ChandigarhMohaliEmailTo" value=""/>
    <add key="RitvikEmailTo" value=""/>
    <add key="AgraEmailTo" value=""/>
    <add key="DelhiEmailTo" value=""/>
    <add key="KarnalEmailTo" value=""/>
    <add key="FaridabadEmailTo" value=""/>
    <add key="SonipatEmailTo" value=""/>
    <add key="HyderabadEmailTo" value=""/>
    <add key="PuneEmailTo" value=""/>
    <add key="MumbaiEmailTo" value=""/>
  </appSettings>
</configuration>