<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--Email Config-->
    <add key="EmailFrom" value="" />
    <add key="EmailPassword" value="" />

    <!--System Config START-->
    <!-- Timer Settings: 30000: 30s | 60000: 1m | 90000: 1.5m | 120000: 2m-->
    <add key="Timer" value="30000" />
    <add key="SystemMailTimeInHours" value="3" />
    <add key="SystemEmailTo" value="" />
    <add key="isLogging" value="1" />
    <add key="LogPath" value="C:\Services" />
    <!--System Config END-->

    <!--108: Chandigarh | 496: Mohali | 203: Karnal | 622: Agra | 199: Faridabad | 198: Sonipat | 581: Hyderabad | 395: Mumbai | 363: Pune | 140: New Delhi | 141: Central Delhi | 142: West Delhi | 143: North West Delhi | 144: South East Delhi | 145: East Delhi | 146: North Delhi | 147: North East Delhi | 148: Shahdara | 149: South Delhi | 150: South West Delhi-->
    <add key="DistrictID" value="143" />
    <add key="DateFor108" value="0" />

    <!--Email Sent To-->
    <add key="ChandigarhMohaliEmailTo" value="" />
    <add key="RitvikEmailTo" value="" />
    <add key="AgraEmailTo" value="" />    
    <add key="KarnalEmailTo" value="" />
    <add key="FaridabadEmailTo" value="" />
    <add key="SonipatEmailTo" value="" />
    <add key="HyderabadEmailTo" value="" />
    <add key="PuneEmailTo" value="" />
    <add key="MumbaiEmailTo" value="" />

    <add key="140DelhiEmailTo" value="" />
    <add key="141DelhiEmailTo" value="" />
    <add key="142DelhiEmailTo" value="" />
    <add key="143DelhiEmailTo" value="" />
    <add key="144DelhiEmailTo" value="" />
    <add key="145DelhiEmailTo" value="" />
    <add key="146DelhiEmailTo" value="" />
    <add key="147DelhiEmailTo" value="" />
    <add key="148DelhiEmailTo" value="" />
    <add key="149DelhiEmailTo" value="" />
    <add key="150DelhiEmailTo" value="" />


    <add key="OneSetting" value="" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>